@model WEB_2535503_Belostotsky.Domain.Models.ListModel<WEB_2535503_Belostotsky.Domain.Entities.ClothingItem>

<h2>Каталог одежды</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Размер</th>
            <th>Категория</th>
            <th>Изображение</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ClothingItem in Model.Items)
        {
            <tr>
                <td>@ClothingItem.Name</td>
                <td>@ClothingItem.Description</td>
                <td>@ClothingItem.Size</td>
                <td>@ClothingItem.Category?.Name</td>
                <td><img src="@ClothingItem.Image" alt="@ClothingItem.Name" style="max-width: 150px; max-height: 150px; object-fit: contain;" /></td>
            </tr>
        }
    </tbody>
</table>